{% extends '::base.html.twig' %}
{% block body %}
    <div class="navbar">
        <div class="navbar-inner">
            <div class="container">
                <ul class="nav">
                    <li class="active">
                        <a href="/2013-03-17">Sunday, 2013-03-17</a></li>
                    <li>
                        <a href="/2013-03-18">Monday, 2013-03-18</a></li>
                    <li>
                        <a href="/2013-03-19">Tuesday, 2013-03-19</a></li>
                    <li>
                        <a href="/2013-03-20">Wednesday, 2013-03-20</a></li>
                    <li>
                        <a href="/2013-03-21">Thursday, 2013-03-21</a></li>
                    <li>
                        <a href="/2013-03-22">Friday, 2013-03-22</a></li>
                </ul>
            </div>
        </div>
    </div>

<div class="container">


    {% for movie in movies %}
        <div class="picture-row">
            <a href="#movie-modal-{{ movie.getId() }}"  data-toggle="modal"><img src="{{ movie.getImgUrl() }}" class="img-polaroid"></a>
        </div>
        <div class="modal hide fade" id="movie-modal-{{ movie.getId() }}">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h3>{{ movie.getName() }}</h3>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="span3"><img src="{{ movie.getImgUrl() }}" class="img-polaroid"></div>
                    <div class="span6">
                        <dl class="dl-horizontal">
                            <dt>Oryginalny tytuł:</dt>
                            <dd>{{ movie.getOriginalName() }}</dd>
                            <dt>Długość:</dt>
                            <dd>{{ movie.getLength() }}</dd>
                            <dt>Reżyseria:</dt>
                            <dd>{{ movie.getDirection() }}</dd>
                            <dt>Obsada:</dt>
                            <dd>{{ movie.getCast() }}</dd>
                        </dl>
                        <p><strong>Opis filmu:</strong>{{ movie.getDescription() }}</p></div>
                </div>
                <hr>
                {% for date in movie.getDates() %}
                    <span class="badge badge-info">{{ date.getDate() | date("G:i") }}</span>
                {% endfor %}
            </div>
            <div class="modal-footer">
                <a data-dismiss="modal" class="btn">Close</a>
            </div>
        </div>
    {% endfor %}
</div>
{% endblock %}